head
  link rel="stylesheet" href="https://unpkg.com/swiper@11.2.6/swiper-bundle.min.css"

body
  .row(style="justify-content: center;")
    .col-sm-6.col-12
      .top-wrapper
        .top-inner-text
          h1 どれがこむドットコム
        .swiper-container
          .swiper-wrapper
            .swiper-slide
              img src=image_path('top1.jpg') alt="Image 1"
            .swiper-slide
              img src=image_path('top2.jpg') alt="Image 2"
            .swiper-slide
              img src=image_path('top3.jpg') alt="Image 3"
            .swiper-slide
              img src=image_path('top4.jpg') alt="Image 4"
            .swiper-slide
              img src=image_path('top5.jpg') alt="Image 5"
            .swiper-slide
              img src=image_path('top6.jpg') alt="Image 6"
          br
          div style="text-align: center;"
            p style="font-size: 36px;" 
              strong 🐈遊び方🐈
          .centered
            p 
              |  ・黒猫の画像が4枚表示されるので、その中から🐈こむちゃん🐈
              strong ではない
              | 黒猫を選んでください。
              br
              | （うちの猫を見てほしいだけのクイズなので、このような選択肢を採用しています）
            p
              | ・🐈こむちゃん🐈の参考資料は、トップページのスライドに掲載しているので、参考にしてください。
            p
              | ・難易度は初級から上級まで三種類あります。気軽に回答してみてください🐈
          br
          div style="display: flex; justify-content: center; gap: 20px; margin-top: 20px;"
            div style="border: 2px solid black; display: inline-block; border-radius: 10px;"
              = link_to "初級問題を解いてみる", cat_quiz_path(0), class: "btn btn-light", data: { load: "true" }
            div style="border: 2px solid black; display: inline-block; border-radius: 10px;"
              = link_to "中級問題を解いてみる", blackcat_quiz_path(0), class: "btn btn-secondary", data: { reload: "true" }
            div style="border: 2px solid black; display: inline-block; border-radius: 10px;"
              = link_to "上級問題を解いてみる", komkomcat_quiz_path(0), class: "btn btn-dark", data: { rereload: "true" }

  script src="https://code.jquery.com/jquery-3.6.0.min.js"
  script src="https://unpkg.com/swiper@11.2.6/swiper-bundle.min.js"
  script type="text/javascript"
    | document.addEventListener("DOMContentLoaded", function() {
    |   fetch("/warmup", { method: "GET" });
    | });